!pip install pandas

In [1]:
import pandas as pd

In [10]:
fruits = pd.DataFrame({'Apples': [61,43], 'Bananas': [36,2], "Apricots": [45,0]}, index=["stock", 'sold'])
fruits

       Apples  Bananas  Apricots
stock      61       36        45
sold       43        2         0

In [11]:
apple_stock = fruits.loc[:, ["Apples"]]
apple_stock

       Apples
stock      61
sold       43

In [12]:
apple_stock.index[0]

'stock'

In [13]:
fruits.loc["stock", ["Apples", "Bananas"]]

Apples     61
Bananas    36
Name: stock, dtype: int64

In [44]:
def order_fruits():
    stock = fruits.loc["stock"]
    sold = fruits.loc["sold", ["Apples", "Bananas", "Apricots"]]
    order = stock - (stock - sold)
    order = pd.Series(order, name="Fruit Order")
    print(f"The following fruits must be ordered:\n{order}")
    return

order_fruits()

The following fruits must be ordered:
Apples      43
Bananas      2
Apricots     0
Name: Fruit Order, dtype: int64